.Layout-header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 76px;
    z-index: 2;
}

.Layout-body {
    box-sizing: border-box;
    padding: 2px;
    position: relative;
    width: 750px;
    margin-top: 76px;
    margin-left: auto;
    margin-right: auto;
}

.Layout-block1 {
    position: relative;
    height: 250px;
}

.Layout-block2 {
    position: relative;
    height: 200px;
}

.Layout-block3 {
    position: relative;
}

@media (max-width: 749px) {

    .Layout-header {
       height: 60px;
    }

    .Layout-body {
        box-sizing: border-box;
        padding: 2px;
        position: relative;
        width: 100%;
        margin-left: auto;
        margin-right: auto;
        margin-top: 60px;
    }

    .Layout-block1 {
        position: relative;
        height: 175px;
    }

    .Layout-block2 {
        position: relative;
        height: 140px;
    }
}

