<!DOCTYPE html>
<html>
<head>
    <title></title>
    <link rel="stylesheet" type="text/css" href="products-carousel2-item.css">
    <script type="text/montage-serialization">
    {
        "owner": {
            "values": {
                "element": {"#": "owner"},
                "imageElement": {"#": "image"}
            }
        }
    }
    </script>
</head>
<body>
    <div data-montage-id="owner" class="ProductsCarousel2Item">
        <div data-montage-id="image" class="ProductsCarousel2Item-image"></div>
    </div>
</body>
</html>
