.ProductsCarouselItem {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    border: 2px solid white;
    color: white;
}

.ProductsCarouselItem-brand {
    font-size: 40px;
    line-height: 40px;
    position: absolute;
    padding: 20px 30px;
    padding-right: 70%;
    left: 0;
    top: 0;
    right: 0;
    text-transform: uppercase;
    background: rgba(255, 255, 255, .2);
}

.ProductsCarouselItem-info {
    font-size: 16px;
    line-height: 16px;
    border: 30px solid transparent;
    box-sizing: border-box;
    position: absolute;
    right: 0;
    width: 30%;
    bottom: 0;
    text-align: right;
}

.ProductsCarouselItem-color {
    font-size: 14px;
}

.ProductsCarouselItem-blurredImage {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-size: 800px auto;
    background-repeat: no-repeat;
    background-position: -400px center;
    opacity: .18;
}

.ProductsCarouselItem-image {
    position: absolute;
    top: 0;
    left: 30%;
    right: 30%;
    bottom: 0;
    border: 20px solid transparent;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center bottom;
}

@media (max-width: 749px) {

    .ProductsCarouselItem-brand {
        font-size: 24px;
        line-height: 24px;
        position: relative;
        padding: 16px 24px;
        padding-right: 50%;
        left: 0;
        top: 0;
        right: 0;
        text-transform: uppercase;
        background: rgba(255, 255, 255, .2);
    }

    .ProductsCarouselItem-blurredImage {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background-size: 400px auto;
        background-repeat: no-repeat;
        background-position: -200px center;
        opacity: .18;
    }

    .ProductsCarouselItem-image {
        position: absolute;
        top: 0;
        left: 50%;
        right: 0;
        bottom: 0;
        border: 16px solid transparent;
        background-size: contain;
        background-repeat: no-repeat;
        background-position: center bottom;
    }

    .ProductsCarouselItem-info {
        position: absolute;
        top: auto;
        left: 0;
        bottom: 0;
        text-align: left;
        right: auto;
        width: 50%;
        padding: 16px 24px;
        border: 0;
        font-size: 13px;
        line-height: 20px;
    }
}
