<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" type="text/css" href="products-grid.css">
    <!--

                "repetition": {
            "prototype": "montage/ui/flow.reel",
            "properties": {
                "element": {"#": "repetition"},
                "content": {"<-": "@owner.content"},
                "linearScrollingVector": [0, -200],
                "isListeningToResize": false,
                "hasElasticScrolling": true,
                "isSelectionEnabled": true,
                "delegate": {"@": "owner"},
                "stride": 1,
                "paths": [{
                    "knots": [
                        {
                            "knotPosition": [0, -9000, -100],
                            "nextHandlerPosition": [0, -6000, -100],
                            "nextDensity": 40,
                            "previousDensity": 40,
                            "opacity": 0
                        },
                        {
                            "knotPosition": [0, 0, -40],
                            "previousHandlerPosition": [0, -3000, -40],
                            "nextHandlerPosition": [0, 100, -40],
                            "nextDensity": 1,
                            "previousDensity": 1,
                            "opacity": 0
                        },
                        {
                            "knotPosition": [0, 300, 0],
                            "previousHandlerPosition": [0, 200, 0],
                            "nextHandlerPosition": [0, 400, 0],
                            "nextDensity": 1,
                            "previousDensity": 1,
                            "opacity": 5
                        },
                        {
                            "knotPosition": [0, 600, -40],
                            "previousHandlerPosition": [0, 500, -40],
                            "nextHandlerPosition": [0, 3600, -100],
                            "nextDensity": 1,
                            "previousDensity": 1,
                            "opacity": 0
                        },
                        {
                            "knotPosition": [0, 9600, -100],
                            "previousHandlerPosition": [0, 6600, -100],
                            "nextDensity": 40,
                            "previousDensity": 40,
                            "opacity": 0
                        }
                    ],
                    "units": {
                        "opacity": ""
                    },
                    "headOffset": 21.5,
                    "tailOffset": 21.5
                }]
            }
        },

    -->
    <script type="text/montage-serialization">
    {
        "owner": {
            "values": {
                "element": {"#": "owner"}
            }
        },
        "repetition": {
            "prototype": "montage/ui/repetition.reel",
            "values": {
                "element": {"#": "repetition"},
                "content": {"<-": "@owner.content"}
            }
        },
        "productsGridItem": {
            "prototype": "ui/components/products-grid-item.reel",
            "values": {
                "element": {"#": "productsGridItem"},
                "product": {"<-": "@repetition:iteration.object"}
            }
        }
    }
    </script>
</head>
<body>
    <div data-montage-id="owner" class="ProductsGrid">
        <div data-montage-id="repetition" class="ProductsGrid-repetition">
            <div data-montage-id="productsGridItem"></div>
        </div>
    </div>
</body>
</html>
